## Ucitavanje i Sredjivanje Nizova Podataka

In [1]:
#ucitavanje potrebnih biblioteka
import pandas as pd
import numpy as np

In [2]:
#uvoz podataka
#sezona 23/24
df_23_4 = pd.read_csv("serie-a-2023.csv")
#sezona 24/25
df_24_5 = pd.read_csv("serie-a-2024.csv")
#sezona 25/6
df_25_6 = pd.read_csv("serie-a-2025.csv")

## Određivanje Duzine Trenutnoj Sezoni i Prikaz

In [3]:
#odrediti duzinu sezone - OBAVEZNO!!!
df_25_6 = df_25_6.head(130)
df_25_6.tail()

,Match Number,Round Number,Date,Location,Home Team,Away Team,Result
125,126,13,30/11/2025 11:30,Ettore Giardiniero - Via del mare,Lecce,Torino,2 - 1
126,129,13,30/11/2025 14:00,Garibaldi,Pisa,Inter,0 - 2
127,121,13,30/11/2025 17:00,Atleti Azzurri d'Italia,Atalanta,Fiorentina,2 - 0
128,130,13,30/11/2025 19:45,Olimpico,Roma,Napoli,0 - 1
129,122,13,01/12/2025 19:45,Renato Dall'Ara,Bologna,Cremonese,1 - 3

In [4]:
#sjedinjavanje ta tri df niza podataka - po osi jedan - odnosno uzduž
df_BL = pd.concat([df_23_4, df_24_5, df_25_6], axis=0)

In [5]:
#prikaz sjedinjenog niza podatak 
#tj. sve tri sezone u jednom nizu podataka u obliku df 
df_BL.tail()

,Match Number,Round Number,Date,Location,Home Team,Away Team,Result
125,126,13,30/11/2025 11:30,Ettore Giardiniero - Via del mare,Lecce,Torino,2 - 1
126,129,13,30/11/2025 14:00,Garibaldi,Pisa,Inter,0 - 2
127,121,13,30/11/2025 17:00,Atleti Azzurri d'Italia,Atalanta,Fiorentina,2 - 0
128,130,13,30/11/2025 19:45,Olimpico,Roma,Napoli,0 - 1
129,122,13,01/12/2025 19:45,Renato Dall'Ara,Bologna,Cremonese,1 - 3

## Predprocesovanje Niza Podataka

In [6]:
#Izbacivanje Nerelevantnih Osobina
df_BL = df_BL.drop(["Match Number","Round Number","Date","Location"],axis=1)
df_BL.shape

(890, 3)

In [7]:
df_BL.rename(columns={"Home Team":"H","Away Team":"A"},inplace=True)

In [8]:
df_BL

             H              A Result
0       Empoli  Hellas Verona  0 - 1
1    Frosinone         Napoli  1 - 3
2        Genoa     Fiorentina  1 - 4
3        Inter          Monza  2 - 0
4         Roma    Salernitana  2 - 2
..         ...            ...    ...
125      Lecce         Torino  2 - 1
126       Pisa          Inter  0 - 2
127   Atalanta     Fiorentina  2 - 0
128       Roma         Napoli  0 - 1
129    Bologna      Cremonese  1 - 3

[890 rows x 3 columns]

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

#One Hot Encoder Timova - Domacin i Gost
onehot_encoder_domacin = OneHotEncoder(handle_unknown="ignore",drop="first")  # Ensure parameters are correct
kodiran_domacin = onehot_encoder_domacin.fit_transform(df_BL[["H"]]).toarray()
df_domacin = pd.DataFrame(kodiran_domacin,columns=onehot_encoder_domacin.get_feature_names_out(["H"]))

In [10]:
df_domacin.columns

Index(['H_Bologna', 'H_Cagliari', 'H_Como', 'H_Cremonese', 'H_Empoli',
       'H_Fiorentina', 'H_Frosinone', 'H_Genoa', 'H_Hellas Verona', 'H_Inter',
       'H_Juventus', 'H_Lazio', 'H_Lecce', 'H_Milan', 'H_Monza', 'H_Napoli',
       'H_Parma', 'H_Pisa', 'H_Roma', 'H_Salernitana', 'H_Sassuolo',
       'H_Torino', 'H_Udinese', 'H_Venezia'],
      dtype='object')

In [11]:
df_domacin.shape

(890, 24)

In [12]:
#One Hot Encoder Timova - Gosti
onehot_encoder_gost = OneHotEncoder(handle_unknown="ignore",drop="first")  # Ensure parameters are correct
kodiran_gost = onehot_encoder_gost.fit_transform(df_BL[["A"]]).toarray()
df_gost = pd.DataFrame(kodiran_gost,columns=onehot_encoder_gost.get_feature_names_out(["A"]))

In [13]:
df_gost.shape

(890, 24)

In [14]:
#Sjedinjavanje tih osobina domacin i gost
df_jedan = pd.concat([df_domacin,df_gost],axis=1)
df_jedan

,H_Bologna,H_Cagliari,H_Como,H_Cremonese,H_Empoli,H_Fiorentina,H_Frosinone,H_Genoa,H_Hellas Verona,H_Inter,...,A_Monza,A_Napoli,A_Parma,A_Pisa,A_Roma,A_Salernitana,A_Sassuolo,A_Torino,A_Udinese,A_Venezia
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
886,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
887,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
888,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
889,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Transformisanje Rezultata u Varijablu - Y Varijable

#### Stvaranje Vrijednosti za Dvije Kolone iz Jedne Osobine/Kolone Rezultat

In [15]:
rez_dom = df_BL["Result"].str.slice(0,1)

In [16]:
rez_dom.head()

0    0
1    1
2    1
3    2
4    2
Name: Result, dtype: object

In [17]:
rez_gost = df_BL["Result"].str.slice(4,5)

In [18]:
rez_gost.head()

0    1
1    3
2    4
3    0
4    2
Name: Result, dtype: object

In [19]:
df_rezultatski = pd.concat([df_BL,rez_dom,rez_gost],axis=1)

In [20]:
#promjena naziva kolonama - spajanjem smo dobili kolone istih naziva
df_rezultatski.columns = ["H","A","Result","Rez1","Rez2"]
df_rezultatski

             H              A Result Rez1 Rez2
0       Empoli  Hellas Verona  0 - 1    0    1
1    Frosinone         Napoli  1 - 3    1    3
2        Genoa     Fiorentina  1 - 4    1    4
3        Inter          Monza  2 - 0    2    0
4         Roma    Salernitana  2 - 2    2    2
..         ...            ...    ...  ...  ...
125      Lecce         Torino  2 - 1    2    1
126       Pisa          Inter  0 - 2    0    2
127   Atalanta     Fiorentina  2 - 0    2    0
128       Roma         Napoli  0 - 1    0    1
129    Bologna      Cremonese  1 - 3    1    3

[890 rows x 5 columns]

In [21]:
#spremanje df_epl varijable za obradu osobine Result u excelu
df_rezultatski.to_csv("uredjivanje_skora_vani.csv")

## Uocavanje Indeksa Sezona - za Kasnije Floatiranje

In [22]:
#df_rezultatski[303:306] #sezona 23/4 od 0:306
#df_rezultatski[306:612] #sezona 24/5 od 306:612
#df_rezultatski[612:] #sezona25/6 od 612:

## Stvaranje Kolone Skor sa Vrijednostima - Ovdje

In [23]:
# Define a function to perform the conditional logic
def calculate_value(row):
    if row['Rez1'] > row['Rez2']:
        return 1
    elif row['Rez1'] < row['Rez2']:
        return -1
    else:  # row['Column1'] == row['Column2']
        return 0

In [24]:
# Apply the function to each row in the DataFrame and assign the result to a new column
df_rezultatski['Skor'] = df_rezultatski.apply(calculate_value, axis=1)
skor = df_rezultatski.drop(['H', 'A', 'Result', 'Rez1',"Rez2"],axis=1)

### Floatiranje Vrijednosti Kolone Skor - po Sezonama

#df_rezultatski[303:306] #sezona 23/4 od 0:306
#df_rezultatski[306:612] #sezona 24/5 od 306:612
#df_rezultatski[612:] #sezona25/6 od 612:

In [25]:
#sezona 23/4
skor23_4 = skor[0:306]
skor24_5 = skor[306:612]
skor25_6 = skor[612:]

In [26]:
#skor.head(3)
skor23_4["Skor"] = skor23_4["Skor"] * 0.71

C:\Users\amirb\AppData\Local\Temp\ipykernel_7192\3544292283.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skor23_4["Skor"] = skor23_4["Skor"] * 0.71

In [27]:
skor24_5["Skor"] = skor24_5["Skor"] * 0.85

C:\Users\amirb\AppData\Local\Temp\ipykernel_7192\3136881136.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skor24_5["Skor"] = skor24_5["Skor"] * 0.85

## Konačna kolona Skor - Sjedinjavanje Vrijednosti Sezona

In [28]:
skor = pd.concat([skor23_4, skor24_5, skor25_6], axis=0, ignore_index=True)

Provjera se vrši manuelno, gledanjem repa,glave i sredine ovog df-a

In [29]:
df_rezultatski = df_rezultatski.reset_index(drop=True)
skor = skor.reset_index(drop=True)

In [30]:
#provjera rezultata
finalna_provjera = pd.concat([df_rezultatski,skor],axis=1,ignore_index=True)
finalna_provjera = finalna_provjera.drop([3,4,5],axis=1)
finalna_provjera.columns = ["H","A","Rezultat","Skor"]

In [31]:
finalna_provjera.head()

           H              A Rezultat  Skor
0     Empoli  Hellas Verona    0 - 1 -0.71
1  Frosinone         Napoli    1 - 3 -0.71
2      Genoa     Fiorentina    1 - 4 -0.71
3      Inter          Monza    2 - 0  0.71
4       Roma    Salernitana    2 - 2  0.00

# Konačni df - Podaci su Sređeni

In [32]:
skor = skor.reset_index(drop=True)
df_jedan = df_jedan.reset_index(drop=True)

In [33]:
df_BL = pd.concat([df_jedan,skor],axis=1)

In [34]:
df_BL.head(5)

,H_Bologna,H_Cagliari,H_Como,H_Cremonese,H_Empoli,H_Fiorentina,H_Frosinone,H_Genoa,H_Hellas Verona,H_Inter,...,A_Napoli,A_Parma,A_Pisa,A_Roma,A_Salernitana,A_Sassuolo,A_Torino,A_Udinese,A_Venezia,Skor
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.71
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.71
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.71
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.71
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.00

In [35]:
#spremanje kodiranog niza podataka
df_BL.to_csv("kodirani_bl.csv")

## Razdvajanje Niza Podataka na Osobine za Predvidjanje i Ciljanu Osobinu

In [36]:
# X predvidjacke, y varijabla jeste Skor Osobina
X = df_BL.drop(["Skor"],axis=1)
y = df_BL["Skor"]

In [37]:
#razdvajanje podataka u treniranju i testirajuce nizove
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.1,random_state=42)
X_train.head()

,H_Bologna,H_Cagliari,H_Como,H_Cremonese,H_Empoli,H_Fiorentina,H_Frosinone,H_Genoa,H_Hellas Verona,H_Inter,...,A_Monza,A_Napoli,A_Parma,A_Pisa,A_Roma,A_Salernitana,A_Sassuolo,A_Torino,A_Udinese,A_Venezia
76,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
774,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
473,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
211,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
790,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
#skaliranje ovih osobina
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
X_train

array([[-0.22623241, -0.22316677, -0.17574991, ..., -0.23523598,
        -0.22926495, -0.15587391],
       [-0.22623241, -0.22316677, -0.17574991, ..., -0.23523598,
        -0.22926495, -0.15587391],
       [-0.22623241, -0.22316677, -0.17574991, ..., -0.23523598,
        -0.22926495, -0.15587391],
       ...,
       [-0.22623241, -0.22316677, -0.17574991, ..., -0.23523598,
        -0.22926495, -0.15587391],
       [-0.22623241, -0.22316677, -0.17574991, ..., -0.23523598,
        -0.22926495,  6.4154419 ],
       [-0.22623241, -0.22316677, -0.17574991, ..., -0.23523598,
        -0.22926495, -0.15587391]])

In [39]:
#Spremanje tog Kodera - za Kasniju Upotrebu

with open("onehot_encoder_domacin.pkl","wb") as file:
    pickle.dump(onehot_encoder_domacin,file)
    
with open("onehot_encoder_gost.pkl","wb") as file:
    pickle.dump(onehot_encoder_gost,file)
    
with open("scaler.pkl","wb") as file:
    pickle.dump(scaler,file)

## Stvaranje Modela i Dobijanje Predikcije

In [40]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
#sledeca biblioteka se odnosi na stvaranje neurona iz kutije layers i alatom dense
from tensorflow.keras.layers import Dense

In [41]:
#konstrukcija modela
model=Sequential([
    Dense(16,activation="relu",input_shape=(X_train.shape[1],)), #HL1 connected to I/p - Skriveni Sloj 1 povezan sa I/p
    Dense(1,activation="tanh")
])

In [42]:
#Oblikovanje Modela 
model.compile(optimizer="adam",loss="mean_absolute_error",metrics=["mae"])
model.summary()

# Keras dokumentacija pojasnjava sta se dogodi sa razlicitim odabirom "loss" i drugih parametara

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                784

 dense_1 (Dense)             (None, 1)                 17

=================================================================
Total params: 801
Trainable params: 801
Non-trainable params: 0
_________________________________________________________________

In [43]:
import datetime
#uspostavljanje Tensorboard-a, zapocinjanje treniranja
#TensorBoard sluzi samo za vizualizaciju svih logovanja koje izvrsim kod treniranja nekog modela
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

#log_dir varijabla koja osigurava da ostane zabinjezen trag svakog treniranja modela
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

#Uspostavljanje Early Stopping - sluzi za zaustavljanje treniranja ako se vrijednost gubitaka ne smanjuje
#bitni parametri su uneseni koji sluze poboljsanju funkcije ranog zaustavljanja treniranja modela...
early_stopping_callback = EarlyStopping(monitor="val_loss",patience=10,restore_best_weights=True)

In [44]:
#TRENIRANJE MODELA / Tovarenje Modela
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

history = model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=50,
    callbacks= [tensorflow_callback,early_stopping_callback]
)

Epoch 1/50
26/26 [==============================] - 3s 46ms/step - loss: 0.8066 - mae: 0.8066 - val_loss: 0.7924 - val_mae: 0.7924
Epoch 2/50
26/26 [==============================] - 0s 19ms/step - loss: 0.7371 - mae: 0.7371 - val_loss: 0.7546 - val_mae: 0.7546
Epoch 3/50
26/26 [==============================] - 0s 19ms/step - loss: 0.6860 - mae: 0.6860 - val_loss: 0.7112 - val_mae: 0.7112
Epoch 4/50
26/26 [==============================] - 1s 23ms/step - loss: 0.6429 - mae: 0.6429 - val_loss: 0.6772 - val_mae: 0.6772
Epoch 5/50
26/26 [==============================] - 0s 17ms/step - loss: 0.6058 - mae: 0.6058 - val_loss: 0.6490 - val_mae: 0.6490
Epoch 6/50
26/26 [==============================] - 0s 17ms/step - loss: 0.5758 - mae: 0.5758 - val_loss: 0.6387 - val_mae: 0.6387
Epoch 7/50
26/26 [==============================] - 0s 19ms/step - loss: 0.5527 - mae: 0.5527 - val_loss: 0.6373 - val_mae: 0.6373
Epoch 8/50
26/26 [==============================] - 0s 18ms/step - loss: 0.5349 - mae: 0.5349 - val_loss: 0.6316 - val_mae: 0.6316
Epoch 9/50
26/26 [==============================] - 0s 17ms/step - loss: 0.5202 - mae: 0.5202 - val_loss: 0.6339 - val_mae: 0.6339
Epoch 10/50
26/26 [==============================] - 1s 20ms/step - loss: 0.5110 - mae: 0.5110 - val_loss: 0.6332 - val_mae: 0.6332
Epoch 11/50
26/26 [==============================] - 1s 38ms/step - loss: 0.5026 - mae: 0.5026 - val_loss: 0.6308 - val_mae: 0.6308
Epoch 12/50
26/26 [==============================] - 1s 31ms/step - loss: 0.4956 - mae: 0.4956 - val_loss: 0.6238 - val_mae: 0.6238
Epoch 13/50
26/26 [==============================] - 2s 96ms/step - loss: 0.4900 - mae: 0.4900 - val_loss: 0.6260 - val_mae: 0.6260
Epoch 14/50
26/26 [==============================] - 1s 52ms/step - loss: 0.4867 - mae: 0.4867 - val_loss: 0.6275 - val_mae: 0.6275
Epoch 15/50
26/26 [==============================] - 2s 76ms/step - loss: 0.4827 - mae: 0.4827 - val_loss: 0.6245 - val_mae: 0.6245
Epoch 16/50
26/26 [==============================] - 2s 62ms/step - loss: 0.4784 - mae: 0.4784 - val_loss: 0.6257 - val_mae: 0.6257
Epoch 17/50
26/26 [==============================] - 1s 39ms/step - loss: 0.4754 - mae: 0.4754 - val_loss: 0.6315 - val_mae: 0.6315
Epoch 18/50
26/26 [==============================] - 1s 23ms/step - loss: 0.4724 - mae: 0.4724 - val_loss: 0.6291 - val_mae: 0.6291
Epoch 19/50
26/26 [==============================] - 1s 27ms/step - loss: 0.4703 - mae: 0.4703 - val_loss: 0.6259 - val_mae: 0.6259
Epoch 20/50
26/26 [==============================] - 1s 28ms/step - loss: 0.4676 - mae: 0.4676 - val_loss: 0.6215 - val_mae: 0.6215
Epoch 21/50
26/26 [==============================] - 1s 24ms/step - loss: 0.4650 - mae: 0.4650 - val_loss: 0.6276 - val_mae: 0.6276
Epoch 22/50
26/26 [==============================] - 1s 23ms/step - loss: 0.4612 - mae: 0.4612 - val_loss: 0.6245 - val_mae: 0.6245
Epoch 23/50
26/26 [==============================] - 0s 20ms/step - loss: 0.4579 - mae: 0.4579 - val_loss: 0.6201 - val_mae: 0.6201
Epoch 24/50
26/26 [==============================] - 1s 33ms/step - loss: 0.4564 - mae: 0.4564 - val_loss: 0.6214 - val_mae: 0.6214
Epoch 25/50
26/26 [==============================] - 0s 16ms/step - loss: 0.4536 - mae: 0.4536 - val_loss: 0.6324 - val_mae: 0.6324
Epoch 26/50
26/26 [==============================] - 0s 19ms/step - loss: 0.4505 - mae: 0.4505 - val_loss: 0.6343 - val_mae: 0.6343
Epoch 27/50
26/26 [==============================] - 1s 55ms/step - loss: 0.4479 - mae: 0.4479 - val_loss: 0.6268 - val_mae: 0.6268
Epoch 28/50
26/26 [==============================] - 1s 27ms/step - loss: 0.4451 - mae: 0.4451 - val_loss: 0.6323 - val_mae: 0.6323
Epoch 29/50
26/26 [==============================] - 0s 16ms/step - loss: 0.4421 - mae: 0.4421 - val_loss: 0.6290 - val_mae: 0.6290
Epoch 30/50
26/26 [==============================] - 1s 26ms/step - loss: 0.4404 - mae: 0.4404 - val_loss: 0.6284 - val_mae: 0.6284
Epoch 31/50
26/26 [==============================] - 0s 19ms/step - loss: 0.4389 - mae: 0.4389 - val_loss: 0.6291 - val_mae: 0.6291
Epoch 32/50
26/26 [==============================] - 1s 22ms/step - loss: 0.4355 - mae: 0.4355 - val_loss: 0.6286 - val_mae: 0.6286
Epoch 33/50
26/26 [==============================] - 1s 26ms/step - loss: 0.4339 - mae: 0.4339 - val_loss: 0.6298 - val_mae: 0.6298

In [45]:
#Procjena Rada Modela preko test podataka
test_loss, test_mae = model.evaluate(X_test,y_test)

3/3 [==============================] - 0s 8ms/step - loss: 0.6201 - mae: 0.6201

In [46]:
#spremanje modela
model.save("sa_float_model.h5")

In [47]:
#moze biti da skaliranje je neophodno, onda je potrebno i obnoviti test parametara modela, te iznova
#-trenirati model i na kraju ga ponovo spremiti.