## Ucitavanje i Sredjivanje Nizova Podataka

In [1]:
#ucitavanje potrebnih biblioteka
import pandas as pd
import numpy as np

In [8]:
#uvoz podataka
#sezona 23/24
df_23_4 = pd.read_csv("serie-a-2023.csv")
#sezona 24/25
df_24_5 = pd.read_csv("serie-a-2024.csv")
#sezona 25/6
df_25_6 = pd.read_csv("serie-a-2025.csv")

## Određivanje Duzine Trenutnoj Sezoni i Prikaz

In [9]:
#odrediti duzinu sezone - OBAVEZNO!!!
df_25_6 = df_25_6.head(70)
df_25_6.tail()

,Match Number,Round Number,Date,Location,Home Team,Away Team,Result
65,62,7,19/10/2025 13:00,Unipol Domus,Cagliari,Bologna,0 - 2
66,65,7,19/10/2025 13:00,Luigi Ferraris,Genoa,Parma,0 - 0
67,61,7,19/10/2025 16:00,Atleti Azzurri d'Italia,Atalanta,Lazio,0 - 0
68,67,7,19/10/2025 18:45,San Siro,Milan,Fiorentina,2 - 1
69,64,7,20/10/2025 18:45,Giovanni Zini,Cremonese,Udinese,1 - 1

In [10]:
#sjedinjavanje ta tri df niza podataka - po osi jedan - odnosno uzduž
df_BL = pd.concat([df_23_4, df_24_5, df_25_6], axis=0)

In [11]:
#prikaz sjedinjenog niza podatak 
#tj. sve tri sezone u jednom nizu podataka u obliku df 
df_BL.tail()

,Match Number,Round Number,Date,Location,Home Team,Away Team,Result
65,62,7,19/10/2025 13:00,Unipol Domus,Cagliari,Bologna,0 - 2
66,65,7,19/10/2025 13:00,Luigi Ferraris,Genoa,Parma,0 - 0
67,61,7,19/10/2025 16:00,Atleti Azzurri d'Italia,Atalanta,Lazio,0 - 0
68,67,7,19/10/2025 18:45,San Siro,Milan,Fiorentina,2 - 1
69,64,7,20/10/2025 18:45,Giovanni Zini,Cremonese,Udinese,1 - 1

## Predprocesovanje Niza Podataka

In [12]:
#Izbacivanje Nerelevantnih Osobina
df_BL = df_BL.drop(["Match Number","Round Number","Date","Location"],axis=1)
df_BL.shape

(830, 3)

In [13]:
df_BL.rename(columns={"Home Team":"H","Away Team":"A"},inplace=True)

In [14]:
df_BL

            H              A Result
0      Empoli  Hellas Verona  0 - 1
1   Frosinone         Napoli  1 - 3
2       Genoa     Fiorentina  1 - 4
3       Inter          Monza  2 - 0
4        Roma    Salernitana  2 - 2
..        ...            ...    ...
65   Cagliari        Bologna  0 - 2
66      Genoa          Parma  0 - 0
67   Atalanta          Lazio  0 - 0
68      Milan     Fiorentina  2 - 1
69  Cremonese        Udinese  1 - 1

[830 rows x 3 columns]

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

#One Hot Encoder Timova - Domacin i Gost
onehot_encoder_domacin = OneHotEncoder(handle_unknown="ignore",drop="first")  # Ensure parameters are correct
kodiran_domacin = onehot_encoder_domacin.fit_transform(df_BL[["H"]]).toarray()
df_domacin = pd.DataFrame(kodiran_domacin,columns=onehot_encoder_domacin.get_feature_names_out(["H"]))

In [16]:
df_domacin.columns

Index(['H_Bologna', 'H_Cagliari', 'H_Como', 'H_Cremonese', 'H_Empoli',
       'H_Fiorentina', 'H_Frosinone', 'H_Genoa', 'H_Hellas Verona', 'H_Inter',
       'H_Juventus', 'H_Lazio', 'H_Lecce', 'H_Milan', 'H_Monza', 'H_Napoli',
       'H_Parma', 'H_Pisa', 'H_Roma', 'H_Salernitana', 'H_Sassuolo',
       'H_Torino', 'H_Udinese', 'H_Venezia'],
      dtype='object')

In [17]:
df_domacin.shape

(830, 24)

In [18]:
#One Hot Encoder Timova - Gosti
onehot_encoder_gost = OneHotEncoder(handle_unknown="ignore",drop="first")  # Ensure parameters are correct
kodiran_gost = onehot_encoder_gost.fit_transform(df_BL[["A"]]).toarray()
df_gost = pd.DataFrame(kodiran_gost,columns=onehot_encoder_gost.get_feature_names_out(["A"]))

In [19]:
df_gost.shape

(830, 24)

In [20]:
#Sjedinjavanje tih osobina domacin i gost
df_jedan = pd.concat([df_domacin,df_gost],axis=1)
df_jedan

,H_Bologna,H_Cagliari,H_Como,H_Cremonese,H_Empoli,H_Fiorentina,H_Frosinone,H_Genoa,H_Hellas Verona,H_Inter,...,A_Monza,A_Napoli,A_Parma,A_Pisa,A_Roma,A_Salernitana,A_Sassuolo,A_Torino,A_Udinese,A_Venezia
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
825,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
826,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
827,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
828,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
829,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

## Transformisanje Rezultata u Varijablu - Y Varijable

#### Stvaranje Vrijednosti za Dvije Kolone iz Jedne Osobine/Kolone Rezultat

In [21]:
rez_dom = df_BL["Result"].str.slice(0,1)

In [22]:
rez_dom.head()

0    0
1    1
2    1
3    2
4    2
Name: Result, dtype: object

In [23]:
rez_gost = df_BL["Result"].str.slice(4,5)

In [24]:
rez_gost.head()

0    1
1    3
2    4
3    0
4    2
Name: Result, dtype: object

In [25]:
df_rezultatski = pd.concat([df_BL,rez_dom,rez_gost],axis=1)

In [26]:
#promjena naziva kolonama - spajanjem smo dobili kolone istih naziva
df_rezultatski.columns = ["H","A","Result","Rez1","Rez2"]
df_rezultatski

            H              A Result Rez1 Rez2
0      Empoli  Hellas Verona  0 - 1    0    1
1   Frosinone         Napoli  1 - 3    1    3
2       Genoa     Fiorentina  1 - 4    1    4
3       Inter          Monza  2 - 0    2    0
4        Roma    Salernitana  2 - 2    2    2
..        ...            ...    ...  ...  ...
65   Cagliari        Bologna  0 - 2    0    2
66      Genoa          Parma  0 - 0    0    0
67   Atalanta          Lazio  0 - 0    0    0
68      Milan     Fiorentina  2 - 1    2    1
69  Cremonese        Udinese  1 - 1    1    1

[830 rows x 5 columns]

In [27]:
#spremanje df_epl varijable za obradu osobine Result u excelu
df_rezultatski.to_csv("uredjivanje_skora_vani.csv")

## Uocavanje Indeksa Sezona - za Kasnije Floatiranje

In [28]:
#df_rezultatski[303:306] #sezona 23/4 od 0:306
#df_rezultatski[306:612] #sezona 24/5 od 306:612
#df_rezultatski[612:] #sezona25/6 od 612:

## Stvaranje Kolone Skor sa Vrijednostima - Ovdje

In [29]:
# Define a function to perform the conditional logic
def calculate_value(row):
    if row['Rez1'] > row['Rez2']:
        return 1
    elif row['Rez1'] < row['Rez2']:
        return -1
    else:  # row['Column1'] == row['Column2']
        return 0

In [30]:
# Apply the function to each row in the DataFrame and assign the result to a new column
df_rezultatski['Skor'] = df_rezultatski.apply(calculate_value, axis=1)
skor = df_rezultatski.drop(['H', 'A', 'Result', 'Rez1',"Rez2"],axis=1)

### Floatiranje Vrijednosti Kolone Skor - po Sezonama

#df_rezultatski[303:306] #sezona 23/4 od 0:306
#df_rezultatski[306:612] #sezona 24/5 od 306:612
#df_rezultatski[612:] #sezona25/6 od 612:

In [31]:
#sezona 23/4
skor23_4 = skor[0:306]
skor24_5 = skor[306:612]
skor25_6 = skor[612:]

In [32]:
#skor.head(3)
skor23_4["Skor"] = skor23_4["Skor"] * 0.71

C:\Users\amirb\AppData\Local\Temp\ipykernel_8960\3544292283.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skor23_4["Skor"] = skor23_4["Skor"] * 0.71

In [33]:
skor24_5["Skor"] = skor24_5["Skor"] * 0.85

C:\Users\amirb\AppData\Local\Temp\ipykernel_8960\3136881136.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skor24_5["Skor"] = skor24_5["Skor"] * 0.85

## Konačna kolona Skor - Sjedinjavanje Vrijednosti Sezona

In [34]:
skor = pd.concat([skor23_4, skor24_5, skor25_6], axis=0, ignore_index=True)

Provjera se vrši manuelno, gledanjem repa,glave i sredine ovog df-a

In [35]:
df_rezultatski = df_rezultatski.reset_index(drop=True)
skor = skor.reset_index(drop=True)

In [36]:
#provjera rezultata
finalna_provjera = pd.concat([df_rezultatski,skor],axis=1,ignore_index=True)
finalna_provjera = finalna_provjera.drop([3,4,5],axis=1)
finalna_provjera.columns = ["H","A","Rezultat","Skor"]

In [37]:
finalna_provjera.head()

           H              A Rezultat  Skor
0     Empoli  Hellas Verona    0 - 1 -0.71
1  Frosinone         Napoli    1 - 3 -0.71
2      Genoa     Fiorentina    1 - 4 -0.71
3      Inter          Monza    2 - 0  0.71
4       Roma    Salernitana    2 - 2  0.00

# Konačni df - Podaci su Sređeni

In [38]:
skor = skor.reset_index(drop=True)
df_jedan = df_jedan.reset_index(drop=True)

In [39]:
df_BL = pd.concat([df_jedan,skor],axis=1)

In [40]:
df_BL.head(5)

,H_Bologna,H_Cagliari,H_Como,H_Cremonese,H_Empoli,H_Fiorentina,H_Frosinone,H_Genoa,H_Hellas Verona,H_Inter,...,A_Napoli,A_Parma,A_Pisa,A_Roma,A_Salernitana,A_Sassuolo,A_Torino,A_Udinese,A_Venezia,Skor
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.71
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.71
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.71
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.71
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.00

In [41]:
#spremanje kodiranog niza podataka
df_BL.to_csv("kodirani_bl.csv")

## Razdvajanje Niza Podataka na Osobine za Predvidjanje i Ciljanu Osobinu

In [42]:
# X predvidjacke, y varijabla jeste Skor Osobina
X = df_BL.drop(["Skor"],axis=1)
y = df_BL["Skor"]

In [43]:
#razdvajanje podataka u treniranju i testirajuce nizove
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.1,random_state=42)
X_train.head()

,H_Bologna,H_Cagliari,H_Como,H_Cremonese,H_Empoli,H_Fiorentina,H_Frosinone,H_Genoa,H_Hellas Verona,H_Inter,...,A_Monza,A_Napoli,A_Parma,A_Pisa,A_Roma,A_Salernitana,A_Sassuolo,A_Torino,A_Udinese,A_Venezia
212,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
218,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
447,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
211,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
72,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [44]:
#skaliranje ovih osobina
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
X_train

array([[-0.21837086, -0.22828201, -0.17007534, ..., -0.22501758,
        -0.2347014 , -0.15713484],
       [-0.21837086, -0.22828201, -0.17007534, ..., -0.22501758,
        -0.2347014 , -0.15713484],
       [-0.21837086, -0.22828201, -0.17007534, ..., -0.22501758,
        -0.2347014 , -0.15713484],
       ...,
       [-0.21837086, -0.22828201, -0.17007534, ...,  4.44409721,
        -0.2347014 , -0.15713484],
       [-0.21837086, -0.22828201, -0.17007534, ..., -0.22501758,
        -0.2347014 ,  6.36396103],
       [-0.21837086, -0.22828201, -0.17007534, ..., -0.22501758,
        -0.2347014 , -0.15713484]])

In [45]:
#Spremanje tog Kodera - za Kasniju Upotrebu

with open("onehot_encoder_domacin.pkl","wb") as file:
    pickle.dump(onehot_encoder_domacin,file)
    
with open("onehot_encoder_gost.pkl","wb") as file:
    pickle.dump(onehot_encoder_gost,file)
    
with open("scaler.pkl","wb") as file:
    pickle.dump(scaler,file)

## Stvaranje Modela i Dobijanje Predikcije

In [46]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
#sledeca biblioteka se odnosi na stvaranje neurona iz kutije layers i alatom dense
from tensorflow.keras.layers import Dense

In [47]:
#konstrukcija modela
model=Sequential([
    Dense(16,activation="relu",input_shape=(X_train.shape[1],)), #HL1 connected to I/p - Skriveni Sloj 1 povezan sa I/p
    Dense(1,activation="tanh")
])

In [48]:
#Oblikovanje Modela 
model.compile(optimizer="adam",loss="mean_absolute_error",metrics=["mae"])
model.summary()

# Keras dokumentacija pojasnjava sta se dogodi sa razlicitim odabirom "loss" i drugih parametara

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                784

 dense_1 (Dense)             (None, 1)                 17

=================================================================
Total params: 801
Trainable params: 801
Non-trainable params: 0
_________________________________________________________________

In [49]:
import datetime
#uspostavljanje Tensorboard-a, zapocinjanje treniranja
#TensorBoard sluzi samo za vizualizaciju svih logovanja koje izvrsim kod treniranja nekog modela
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

#log_dir varijabla koja osigurava da ostane zabinjezen trag svakog treniranja modela
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

#Uspostavljanje Early Stopping - sluzi za zaustavljanje treniranja ako se vrijednost gubitaka ne smanjuje
#bitni parametri su uneseni koji sluze poboljsanju funkcije ranog zaustavljanja treniranja modela...
early_stopping_callback = EarlyStopping(monitor="val_loss",patience=10,restore_best_weights=True)

In [50]:
#TRENIRANJE MODELA / Tovarenje Modela
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

history = model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=50,
    callbacks= [tensorflow_callback,early_stopping_callback]
)

Epoch 1/50
24/24 [==============================] - 2s 32ms/step - loss: 0.8254 - mae: 0.8254 - val_loss: 0.8525 - val_mae: 0.8525
Epoch 2/50
24/24 [==============================] - 0s 16ms/step - loss: 0.7637 - mae: 0.7637 - val_loss: 0.8109 - val_mae: 0.8109
Epoch 3/50
24/24 [==============================] - 0s 14ms/step - loss: 0.7095 - mae: 0.7095 - val_loss: 0.7610 - val_mae: 0.7610
Epoch 4/50
24/24 [==============================] - 0s 15ms/step - loss: 0.6601 - mae: 0.6601 - val_loss: 0.7144 - val_mae: 0.7144
Epoch 5/50
24/24 [==============================] - 0s 14ms/step - loss: 0.6191 - mae: 0.6191 - val_loss: 0.6800 - val_mae: 0.6800
Epoch 6/50
24/24 [==============================] - 0s 13ms/step - loss: 0.5844 - mae: 0.5844 - val_loss: 0.6538 - val_mae: 0.6538
Epoch 7/50
24/24 [==============================] - 0s 13ms/step - loss: 0.5577 - mae: 0.5577 - val_loss: 0.6397 - val_mae: 0.6397
Epoch 8/50
24/24 [==============================] - 0s 16ms/step - loss: 0.5407 - mae: 0.5407 - val_loss: 0.6270 - val_mae: 0.6270
Epoch 9/50
24/24 [==============================] - 0s 15ms/step - loss: 0.5268 - mae: 0.5268 - val_loss: 0.6275 - val_mae: 0.6275
Epoch 10/50
24/24 [==============================] - 0s 13ms/step - loss: 0.5159 - mae: 0.5159 - val_loss: 0.6192 - val_mae: 0.6192
Epoch 11/50
24/24 [==============================] - 0s 18ms/step - loss: 0.5035 - mae: 0.5035 - val_loss: 0.6118 - val_mae: 0.6118
Epoch 12/50
24/24 [==============================] - 0s 14ms/step - loss: 0.4928 - mae: 0.4928 - val_loss: 0.6069 - val_mae: 0.6069
Epoch 13/50
24/24 [==============================] - 0s 14ms/step - loss: 0.4813 - mae: 0.4813 - val_loss: 0.6039 - val_mae: 0.6039
Epoch 14/50
24/24 [==============================] - 0s 15ms/step - loss: 0.4745 - mae: 0.4745 - val_loss: 0.6078 - val_mae: 0.6078
Epoch 15/50
24/24 [==============================] - 0s 17ms/step - loss: 0.4678 - mae: 0.4678 - val_loss: 0.6053 - val_mae: 0.6053
Epoch 16/50
24/24 [==============================] - 0s 19ms/step - loss: 0.4631 - mae: 0.4631 - val_loss: 0.6074 - val_mae: 0.6074
Epoch 17/50
24/24 [==============================] - 0s 17ms/step - loss: 0.4582 - mae: 0.4582 - val_loss: 0.6078 - val_mae: 0.6078
Epoch 18/50
24/24 [==============================] - 0s 16ms/step - loss: 0.4541 - mae: 0.4541 - val_loss: 0.6055 - val_mae: 0.6055
Epoch 19/50
24/24 [==============================] - 0s 14ms/step - loss: 0.4489 - mae: 0.4489 - val_loss: 0.6038 - val_mae: 0.6038
Epoch 20/50
24/24 [==============================] - 0s 13ms/step - loss: 0.4467 - mae: 0.4467 - val_loss: 0.6066 - val_mae: 0.6066
Epoch 21/50
24/24 [==============================] - 0s 13ms/step - loss: 0.4421 - mae: 0.4421 - val_loss: 0.6050 - val_mae: 0.6050
Epoch 22/50
24/24 [==============================] - 0s 13ms/step - loss: 0.4388 - mae: 0.4388 - val_loss: 0.6096 - val_mae: 0.6096
Epoch 23/50
24/24 [==============================] - 1s 28ms/step - loss: 0.4351 - mae: 0.4351 - val_loss: 0.6092 - val_mae: 0.6092
Epoch 24/50
24/24 [==============================] - 0s 18ms/step - loss: 0.4314 - mae: 0.4314 - val_loss: 0.6103 - val_mae: 0.6103
Epoch 25/50
24/24 [==============================] - 0s 14ms/step - loss: 0.4294 - mae: 0.4294 - val_loss: 0.6060 - val_mae: 0.6060
Epoch 26/50
24/24 [==============================] - 0s 15ms/step - loss: 0.4274 - mae: 0.4274 - val_loss: 0.6096 - val_mae: 0.6096
Epoch 27/50
24/24 [==============================] - 0s 15ms/step - loss: 0.4245 - mae: 0.4245 - val_loss: 0.6112 - val_mae: 0.6112
Epoch 28/50
24/24 [==============================] - 0s 13ms/step - loss: 0.4219 - mae: 0.4219 - val_loss: 0.6052 - val_mae: 0.6052
Epoch 29/50
24/24 [==============================] - 0s 18ms/step - loss: 0.4200 - mae: 0.4200 - val_loss: 0.6066 - val_mae: 0.6066

In [51]:
#Procjena Rada Modela preko test podataka
test_loss, test_mae = model.evaluate(X_test,y_test)

3/3 [==============================] - 0s 11ms/step - loss: 0.6038 - mae: 0.6038

In [52]:
#spremanje modela
model.save("sa_float_model.h5")

In [53]:
#moze biti da skaliranje je neophodno, onda je potrebno i obnoviti test parametara modela, te iznova
#-trenirati model i na kraju ga ponovo spremiti.